*{
    margin: 0px;
}
#page1{
    height: 100vh;
    background-color: rgba(204, 243, 129, 1);  
}
#color1{
    width: 65%;
    height: 100%;
    background-color: rgba(72, 49, 212, 1);
}
#font{
    position: relative;
    top: 37%;
    left: 20%;
    font-weight: 900;
    font-size: 45px;
    color:rgba(204, 243, 129, 1) ;
    width: 350px;
    font-family: Bodoni MT; 
           
}
#skill{
    position: relative;
    top: 10%;
    left: 20%;
    text-align: justify;
    width: 600px;
    color: white;
    font-size: 20px;
    font-family: Viner Hand ITC;
}
#photo{
    position: relative;
    left: 90%;
    top: 20%;
    width: 220px;

}
#photo img{
    border-radius: 20px;
    height: 220px;
    width: 220px;
}
@media (max-width:600px) {
    #color1{
        position: relative;
        height: 65%;
        width: 100%;
    }
    #font{
        position: relative;
        top: 77%;
        left: 0%;

    }
    #skill{
        position: relative;
        top:80%;
        left: 0%;
        text-align: justify;
        width: 100%;
        color: rgba(72, 49, 212, 1);
    }
    #photo{
        position: absolute;
        top: 10%;
        left: 30%;
    }

}
